@import url('https://fonts.googleapis.com/css2?family=Philosopher&family=Piedra&display=swap');
body {
    font-size: 19px;
    font-family: 'Philosopher', sans-serif;
}
.hidden {
    display: none;
}
h1 {
    text-align: center;
    font-family: 'Piedra', cursive;
}
img {
    width: 30%;
}
.flexbox {
    display: flex;
    margin-bottom: 2em;
}
.button {
    flex-direction: column;
    text-align: center;
}
.chooseAnswer {
    position: fixed;
    right: 50px;
    top: 50%;
    background-color: gainsboro;
    padding: 1em;
    width: 10%;
}
.page-wrapper {
    background: url("img/police-line2-01.jpg");
}