<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
</head>
<body>

    <div id="app">
<!--        original state isHidden = false, meaning it was not hidden
            when clicked is Hidden = true which mean it is hidden
-->
        <button v-on:click="isHidden = false">Hide the text below</button>
<!--
            Whenenver the state isHidden the onclick event will switch it to !isHidden
            and vice versa
-->
        <button v-on:click="isHidden = !isHidden">Toggle hide and show</button>

        <h1 v-if="isHidden">Hide me on click event!</h1>
        <div>
            <clueimg
                    v-for="clueimg in clueimgs"
                    v-bind:src="clueimg.src"
                    v-bind:key="clueimg.id">
            </clueimg>
        </div>
    </div>
    <script>
        Vue.component('clueimg',{
            //this append the src to the img
            //what I want is append the img and button to a div
            template:
                `<img
			        src= src;
		        />`
        });
        var app = new Vue({
            el: '#app',
            data: {
                isHidden: true,
                clueimgs: [
                    {id:1,
                        src: "img/crime-scene.png"
                        // buttonText: "Crime scene"
                    },
                    {
                        id:2,
                        src: "img/femalechef.jpg"
                    }
                ]
            }
        })
    </script>
</body>
</html>